<div class="add-folder-content">
  <form [formGroup]="formGroup">
    <div class="icon">
      <mat-icon [svgIcon]="data?.type === 'protect' ? 'lock' : 'unlock-dialog'"></mat-icon>
    </div>
    <div class="title">
      {{ data.title }}
    </div>
    <div class="form">
      Mot de passe: <input mat-input formControlName="password" type="text" class="folder-name" type="password"> 
    </div>
    <div class="buttons">
      <button class="add" (click)="close(true)">Envoyer</button>
      <button class="cancel" (click)="close(false)">Annuler</button>
    </div>
 
  </form>
 </div>